.carousel {
  width: 100%;
  max-width: 50rem; 
  margin: 0 auto;
  border-radius: 0.625rem; 
  overflow: hidden;
  box-shadow: 0px 0.25rem 0.9375rem rgba(0, 0, 0, 0.1); 
  height: 37.5rem; 
}

.carouselInner {
  width: 100%;
  height: 100%;
}

.carouselItem {
  position: relative;
  width: 100%;
  height: 100%; 
}

.image-container {
  position: relative;
  width: 100%;
  height: 25rem; 
  overflow: hidden;
}

.carouselImage {
  object-fit: cover;
  width: 100%;
  height: 100%; 
  z-index: 1;
}

.carouselCaption {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 0.9375rem; 
  border-radius: 0.3125rem; 
  text-align: left;
  color: hwb(246 74% 0%);
  position: absolute;
  bottom: 1.25rem; 
  left: 1.25rem; 
  right: 1.25rem; 
  z-index: 2; 
  font-family: 'Indie Flower', cursive;
}

.carouselCaption p {
  color: rgb(217, 225, 225);
  font-size: 1.25rem; 
}

.carouselCaption h5 {
  font-weight: 500;
  font-size: 1.5625rem; 
}

.carouselControlPrevIcon,
.carouselControlNextIcon {
  filter: invert(100%);
  width: 1.875rem; 
  height: 1.875rem; 
}

.carouselControlPrev,
.carouselControlNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  height: 3.125rem; 
  z-index: 2; 
  color: #fff; 
}

.carouselControlPrev {
  left: 0;
}

.carouselControlNext {
  right: 0;
}

.carouselIndicators {
  position: absolute;
  bottom: 0.625rem; 
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 3; 
}

.carouselIndicatorButton {
  background-color: #000;
  border: none;
  height: 0.625rem; 
  width: 0.625rem; 
  border-radius: 50%;
  margin: 0 0.3125rem;  
}

.carouselIndicatorButton.active {
  background-color: #fff;
}
