.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #594471;
    padding: 1rem;
  }
  
  .logo {
    flex-shrink: 0;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }
  
  .navItem {
    margin: 0 1rem;
    font-family: 'Indie Flower', cursive;
    font-size: 3vh;
  }
  
  .navItem a {
    color: rgb(253, 253, 255);
    text-decoration: none;
  }
  
  .navItem a:hover {
    color: rgb(126, 126, 255);
    text-decoration: underline;
  }
  
  .login {
    flex-shrink: 0;
  }
  
  .login a {
    color: white;
    text-decoration: none;
  }
  
  .login a:hover {
    color: rgb(126, 126, 255);
    text-decoration: underline;
  }