.containera {
    display: flex;
    background-color: #cfbde4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form div {
    margin-bottom: 20px;
  }

  .login-btn {
    padding: 10px;
    height: 30px !important; /* Change this to auto or a more appropriate height */

    width: 100%;
    text-align: center;
    background-color: rgb(108, 79, 166);
  }
  

/* .d-grid gap-2 col-12 mx-auto{
  size: 10px;
}  */
  
/* .login {
    width: 100%;
    padding: 10px;
    cursor: pointer;
  } */
/*   
button:hover {
    background-color: #7c4f79;
  } */

