.pageContainer {
    background-color: rgb(244, 246, 249);
}

.quizContainer {
    padding: 20px;
    margin-right: 10px;
}

.question {
    color: blueviolet !important;
}

.questionText {
    font-size: 18px;
    margin-bottom: 10px;
}

.quizSelect {
    margin-bottom: 10px;
}

.btn {
    background-color: lightblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: deepskyblue;
}

.btn:active {
    background-color: rgb(153, 108, 196);
}

.result {
    background-color: rgb(244, 246, 249);
}