.todo {
    padding: 3.75rem; 
}

.todo h1 {
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: 8vh;
    padding-bottom: 2rem;
}

.toDoBottom {
    padding-top: 4vh;
}

.suggestion-form {
    margin: 1.875rem 0; 
    padding: 1.25rem; 
    background-color: #f9f9f9;
    border-radius: 0.625rem; 
    box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
    padding-top: 2rem;
}

.suggestion-form h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 3.5vh;
    margin-bottom: 0.625rem; 
}

.suggestion-form label {
    display: block;
    margin-bottom: 0.3125rem; 
    font-family: Arial, sans-serif;
    font-size: 2.5vh;
}

.suggestion-form input,
.suggestion-form textarea {
    width: 100%;
    padding: 0.625rem; 
    margin-bottom: 0.625rem; 
    border: 0.0625rem solid #ccc; 
    border-radius: 0.3125rem; 
    font-family: Arial, sans-serif;
    font-size: 2.5vh;
}

.suggestion-form button {
    display: block;
    width: 100%;
    padding: 0.625rem; 
    background-color: #5f3d7e;
    color: white;
    font-size: 2.5vh;
    font-family: 'Indie Flower', cursive;
    border: none;
    border-radius: 0.3125rem; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.suggestion-form button:hover {
    background-color: #472c61;
}
